<!DOCTYPE html PUBLIC "-//W3C//Dtd XHTML 1.0 transitional//EN" "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd">
<html>
<head>
<title>管理中心登陆 V1.0</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link href="css/admin_login.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">

	//登录
	function onLogin(){
		var utname=$("#uname").attr("value");
		var upwd=$("#upassword").attr("value");
		var url="index.php?action=adminUser&method=validateUser";
		$.get(url, { uname: utname, upassword: upwd },function(data){
			if(data=="0"){					
				$("#loginForm").submit();
				return;
			}else{						
				alert("用户名或者密码错误");
				$("#upassword").attr("value","");	
				$("#upassword").focus();			
			}
		});
	}
	
</script>
</head>
<body onload=document.loginForm.uname.focus();>
<table height="100%" cellspacing="0" cellpadding="0" width="100%" bgColor="#002779" border="0">
  <tr>
    <td align="center"><table cellspacing="0" cellpadding="0" width="468" border="0">
        <tr>
          <td><img height="23" src="images/admin/login_1.jpg" width="468"></td>
        </tr>
        <tr>
          <td><img height="147" src="images/admin/login_2.jpg" width="468"></td>
        </tr>
      </table>
      <table cellSpacing=0 cellPadding=0 width=468 bgColor=#ffffff border=0>
        <tr>
          <td width=16><img height=122 src="images/admin/login_3.jpg" 
            width=16></td>
          <td align="center">
          	<form id="loginForm" name="loginForm" action="index.php?action=adminUser&method=adminLogin" method="post" onsubmit="return false;">
          	<table cellSpacing=0 cellPadding=0 width=230 border=0>              
                <tr height="5">
                  <td width="5"></td>
                  <td width="45"></td>
                  <td></td>
                </tr>
                <tr height=36>
                  <td></td>
                  <td>用户名</td>
                  <td><input 
                  style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid" 
                  type="text" size="20" name="uname" id="uname"></td>
                </tr>
                <tr height=36>
                  <td>&nbsp;</td>
                  <td>口　令</td>
                  <td><input 
                  style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid" 
                  type=password maxLength=30 size="20" name="upassword" id="upassword" ></td>
                </tr>
                <tr height=5>
                  <td colSpan=3></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><input type="image" onclick="onLogin()" height=18 width=70 src="images/admin/bt_login.gif"></td>
                </tr>              
            </table>
            </form>
            </td>
          <td width=16><img height=122 src="images/admin/login_4.jpg" 
            width=16></td>
        </tr>
      </table>
      <table cellSpacing=0 cellPadding=0 width=468 border=0>
        <tr>
          <td><img height=16 src="images/admin/login_5.jpg" width="468"></td>
        </tr>
      </table>
      <table cellSpacing=0 cellPadding=0 width=468 border=0>
        <tr>
          <td align=right><A href="" target=_blank><img height=26 src="images/admin/login_6.gif" width="165" border=0></A> </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>