<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
<tr bgcolor="#E7E7E7">
	<td height="24" colspan="5">
	&nbsp;<a href="index.php?action=channel">产品栏目列表</a>&nbsp;
	</td>
</tr>
<tr align="center" bgcolor="#FAFAF1" height="22">
	<td width="4%">选择</td>
	<td width="6%">ID</td>	
	<td width="15%">栏目名称</td>
	<td width="15%">栏目创建时间</td>
	<td width="60%">栏目说明</td>
</tr>

<!-- BEGIN list -->
<tr align='center' bgcolor="#FFFFFF" onmousemove="javascript:this.bgColor='#7EC657';" 
	ondblclick="ondkRow(this)" onmouseout="javascript:this.bgColor='#FFFFFF';" height="22" >
	<td><input name="chid" type="checkbox" id="chid" value="{chid}" class="np"/></td>
	<td>{chid}</td>	
	<td>{chname}</td>
	<td>{chcrtdate}</td>
	<td>{chdesc}</td>
</tr>
<!-- END list -->

<tr align="right" bgcolor="#EEF4EA">
	<td height="24" colspan="5" align="right">
		&nbsp;
		<a href="" class="coolbg">首页</a>
		<a href="" class="coolbg">上一页</a>
		<a href="" class="coolbg">&nbsp;下一页&nbsp;</a>
		<a href="" class="coolbg">&nbsp;末页&nbsp;</a>		
	</td>	
</tr>
</table>