<?php

require_once('include/utils/utils.php');
global $adb;

$last15days = date("Y-m-d",mktime(0,0,0,date("m"),date("d")-14,date("Y"))).' 00:00:00';
$datetime   = date('Y-m-d H:i:s');

$sql="UPDATE vtiger_crmentity,vtiger_leaddetails 
	SET vtiger_crmentity.smownerid=1,vtiger_crmentity.modifiedtime ='$datetime' 
	WHERE vtiger_crmentity.crmid=vtiger_leaddetails.leadid AND vtiger_crmentity.smcreatorid != vtiger_crmentity.smownerid AND vtiger_leaddetails.converted=0 
	AND vtiger_crmentity.modifiedtime < '$last15days' AND vtiger_crmentity.deleted=0 AND vtiger_crmentity.smownerid != 1";

$adb->pquery($sql, array());

?>
