<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="阳光团购中心,中秋月饼,员工福利,礼品,礼券,上海团购,年会" />
<meta name="description" content="阳光团购中心,中秋月饼,员工福利,礼品,礼券,上海团购,年会" />
<title>阳光团购中心</title>
<link href="css/main/header.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/main/i_banner.js"></script>
<script type="text/javascript" src="js/main/header.js"></script> 
<script type="text/javascript" src="js/dialog.js"></script>
<style type="text/css">
<!--
*                              {margin:0;padding:0;}
.main                          {width:1003px;margin:0 auto;}
.center                        {width:1003px;padding:0px 0px 0px 13px; margin-top:10px;}             
.prodlist1                     {width:174px;text-align:left;border-bottom:1px solid #FCD999;}
.prodlist1 .title              {background:url(images/main/i_c_title_1.gif) no-repeat;height:21px;text-align:left;padding:5px 0px 0px 0px;font-size:15px;color:#fff; font-weight:bold;text-align:center;}
.prodlist1 .info               {text-align:left;border:0;}
.p_list_box_con                {height:300px;margin:8px;width:780px;}
.p_list_box_con_img            {width:260px; height:260px; float:left;} 
.p_list_box_con_info           {width:260px; height:30px; float:left; margin-top:8px;} 
.p_list_info                   {text-align:left; line-height:24px; width:490px; float:left; margin-left:20px;}
.p_list_info_bot               {width:490px; height:60px; float:left; margin:8px 0px 0px 0px;}
.p_list_info_bot img           {vertical-align:middle;}
.p_list_bot                    {margin:8px;width:780px;}
.p_list_bot_tit                {height:30px;background:url(images/main/l_icon_7.gif) no-repeat; border-bottom:4px solid #4AC621;}
.p_list_info_d                 {padding:8px; border-bottom:1px dashed #ccc; text-align:left; line-height:24px;}
.sdmenu                        {color:#FFFFFF;font-family:Arial,sans-serif;font-size:12px;width:172px;text-align:left;border-left:1px solid #FCD999;border-right:1px solid #FCD999;}
.sdmenu div                    {background:transparent url(images/main/list_bottom.gif) repeat-x;overflow:hidden; text-align:left;}
.sdmenu div:first-child        {background:transparent url(images/main/list_bottom.gif) repeat-x;width:172px; text-align:left;}
.sdmenu div span               {background:url(images/main/i_c_bgimg_1.gif) no-repeat;color:#FE9B02;cursor:default;display:block;font-weight:bold;padding:5px 5px;  text-align:left; height:16px;}
.sdmenu div span a,.sdmenu div span a:link,.sdmenu div span a:visited,.sdmenu div span a:hover,.sdmenu div span a:active{color:#FE9B02;border:0;padding:0;background:none;display: inline;}
.sdmenu div.collapsed span     {background-image:url(images/main/list_close.gif); text-align:left;}
.sdmenu div a,.sdmenu div a:link,.sdmenu div a:visited{color:#666666;display:block;padding:5px 10px;text-decoration:none;text-align:left;background:url(images/main/i_c_icon_1.gif) no-repeat 3px center;width:64px;}
.a_info                        {width:775px; float:left; margin-left:8px;}
.a_info_d                      {width:753px; padding:10px; text-align:left; line-height:24px; border-left:1px solid #FDDCC9; border-right:1px solid #FDDCC9;}
.a_info_down                   {background:url(images/main/i_c_bgimg_1.gif) no-repeat left bottom;display:block;width:162px;height:16px;text-align:center;padding:5px; }
.a_info_1                      {background:url(images/main/i_h_bgimg_1_1.gif) repeat-x left bottom;display:block;width:162px;height:16px;text-align:center;padding:5px;}
.a_info_2                      {background:url(images/main/i_c_bgimg_1.gif) no-repeat left bottom;display:block;width:162px;height:16px;text-align:center;padding:5px;}
#a_info_2                      {color:#FE9B02;}
.sdmenu a                      {text-decoration:none;color:#FE9B02;text-decoration:none; font-weight:bold;}
.sdmenu A:link                 {color:#333;text-decoration:none;font-weight:bold;}
.sdmenu a:visited              {color:#333;text-decoration:none;font-weight:bold;}
.sdmenu a:hover                {color:#333;text-decoration:none;font-weight:bold;}
.sdmenu a:active               {color:#333;text-decoration:none;font-weight:bold;}
.titlebg3                       {background:url(images/main/a_title_1.gif) no-repeat;margin:8px 0px 0px 0px; height:19px; text-align:left; padding:10px 0px 0px 0px;}
.titlebg3 a,.titlebg3 a:link,.titlebg3 a:visited {color:#fff;text-decoration:none; padding:0px 0px 0px 30px; font-size:14px; font-weight:bold;}
-->
</style>
</head>

<body>

<div class="login" id="logID" style="display:none;">
	<form name="userLoginForm" id="userlogin" action="" method="post" onsubmit="return false;">
		<div class="login_l lef">						
				<div id="login">
		  			<div id="loginform">用户名:
		    			<input name="username" id="username" type="text" dataType="Require" msg="用户名不能为空"/><br />
		    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果没有帐号，请先注册！<br />
            			&nbsp;&nbsp;密&nbsp;&nbsp;码:
        				<input name="upasswd" id="upasswd" type="password" dataType="Require" msg="密码不能为空"/>&nbsp;&nbsp;
		  			</div>
		  		<br/>
		  		<div id="buttom">
        			<div>
		      		<input type="image" src="images/main/b_c_title_3.gif" class="inline_midl" onclick="userLogin()"/>
		      		</div>
		      		<div>
		      		<input type="image" src="images/main/c_c_title_4.gif" class="inline_midl" onclick="closedialog()"/>
		      		<br/>		      
	     		</div>
		 </div>
  	</div>
 	</div>
 	</form>
	</div>
	
	<div class="login_l lef" id="regID" style="display:none;">	
		<form name="reguserForm" id="reguser" action="" method="post" onsubmit="return false;">		
		<div id="login_1">
		  <div id="loginform">&nbsp;&nbsp;&nbsp;&nbsp;用户名:
		    <input name="udspname" id="udspname" type="text" size="27" dataType="Require" msg="用户名不能为空"/>&nbsp;<span class="red">*</span><br />    
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;码:
            <input name="upasswd" id="upasswd" type="password" size="27" dataType="Require" msg="密码不能为空"/>&nbsp;<span class="red">*</span>
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码设置六位以上字母或数字
			<br />
			确认密码:
            <input name="qrupasswd" id="qrupasswd" type="password" size="27" dataType="Require" msg="确认密码不能为空"/>&nbsp;<span class="red">*</span>
			<br />
			 公司名称:
            <input name="ucompany" id="ucompany" type="text" size="27" dataType="Require" msg="公司名称不能为空"/>&nbsp;<span class="red">*</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部&nbsp;&nbsp;门: 
            <input name="udepart" id="udepart" type="text" size="27" dataType="Require" msg="部门不能为空"/>&nbsp;<span class="red">*</span><br />
			&nbsp;&nbsp;&nbsp;&nbsp;联系人: 
            <input name="ulinkman" id="ulinkman" type="text" size="27" dataType="Require" msg="联系人不能为空"/>&nbsp;<span class="red">*</span><br />
			联系电话: 
            <input name="uphone" id="uphone" type="text" size="27" dataType="Phone" msg="不是合法的电话号码"/>&nbsp;<span class="red">*</span><br />			
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: 
            <input name="uemail" id="uemail" type="text" size="27" dataType="Email" msg="不是合法的Email地址"/>&nbsp;<span class="red">*</span>
		  </div>
		<br/>
		  <div id="buttom">
            <div align="center">
		      <input type="image" src="images/main/b_c_title_4.gif" class="inline_midl1" onclick="regeditUser()"/>
		      </div>
		    <div>		      	
		      <input type="image" src="images/main/c_c_title_4.gif" class="inline_midl1" onclick="closedialog()" />
		      <br/>	        
	     	</div>
		 </div>
	 </div>
	 </form>
 </div>

<div class="main">
	<div class="head">
	  <div class="head_top">
			<div class="logo lef"><a href="" target="_blank"><img src="images/main/logo.gif" alt="阳光团购中心"/></a></div>
			<div class="tel lef"></div>
			<div class="top_menu_login1 lef">
				<input type="hidden" name="userid" id="userid" value="{userid}"/>
				<input type="hidden" name="isreg" id="isreg" value="{isreg}"/>
				&nbsp;&nbsp;&nbsp;您好，<span class="red" id="dspusername">{custname}</span>				
				&nbsp;&nbsp;欢迎您登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<div class="top_menu_login lef">
				<div class="top_menu_login2">&nbsp;</div>
				<div class="list1 lef"><a style="cursor:hand" href="javascript:dialog('登录','id:logID','300px','220px',120);">登录</a></div>
				<div class="list2 lef"><a style="cursor:hand" href="javascript:dialog('注册新用户','id:regID','330px','340px',120);" >注册</a></div>				
				<div class="list4 lef"><a href="#">我的帐户</a></div>
				<div class="list6 lef"><a href="#">我的收藏夹</a></div>
			</div>
		</div>
		<div class="h_menu">
			<div>
			  <div>
			  	<ul id="h_menu">
					<li  id="index" class="h_menu1_down lef" onclick="ChangedItime('index')" ><a href="">首页</a></li>
					<li  id="recommend"  class="h_menu2 lef"  onclick="ChangedItime('recommend')">
					<a id="menu1" href="javascript:gotoCategory('menu1');">时令推荐</a></li>
					<li  id="brand"  class="h_menu3 lef"  onclick="ChangedItime('brand')">
					<a id="menu2" href="javascript:gotoCategory('menu2');">品牌家电</a></li>
					<li  id="textile" class="h_menu4 lef"  onclick="ChangedItime('textile')">
					<a id="menu3" href="javascript:gotoCategory('menu3');">时尚纺织</a></li>
					<li  id="ticket" class="h_menu5 lef" onclick="ChangedItime('ticket')">
					<a id="menu4" href="javascript:gotoCategory('menu4');">西点礼券</a></li>
					<li  id="life" class="h_menu6 lef" onclick="ChangedItime('life')">
					<a id="menu5" href="javascript:gotoCategory('menu5');">生活用品</a></li>
					<li  id="kitchen" class="h_menu7 lef"  onclick="ChangedItime('kitchen')">
					<a id="menu6" href="javascript:gotoCategory('menu6');">厨房用品</a></li>
					<li  id="movement" class="h_menu8 lef"  onclick="ChangedItime('movement')">
					<a id="menu7" href="javascript:gotoCategory('menu7');">运动保健</a></li>
					<li  id="promotions"  class="h_menu9 lef"  onclick="ChangedItime('promotions')">
					<a id="menu8" href="javascript:gotoCategory('menu8');">促销礼品</a></li>
					<li  id="about" class="h_menu11 lef"  onclick="ChangedItime('about')">
					<a id="menu9" href="javascript:gotoCategory('menu9');">关于我们</a></li>
				</ul>
			  </div>
			
			<div class="h_search lef">
					<div class="h_search_all">
						<div class="m nsearch lef">							
							<span class="nfdj lef"><img alt="" src="images/main/i_h_icon_6.gif"/>&nbsp;</span>&nbsp;
							<div class="lef">
							<input type="text" autocomplete="off" name="keyword" value="货号或关键词" onfocus="this.value=''" class="ninput_search" id="keyword" />&nbsp;
							</div>
							<div class="lef"><input type="image" class="nsearch_m" name="imageField" onclick="searchbykey('keyword')" src="images/main/i_h_icon_7.gif" alt="按关键字搜索" id="imageField"/>&nbsp;</div>
							<div class="h_search_gao"></div>
							
					  </div>
						<div class="keywords lef" ><a href="" target="_blank"></a>&nbsp;&nbsp;<a href="" target="_blank" ></a></div>
				</div>
				<div class="h_banner lef"><img src="images/main/i_h_banner_1.jpg" alt="" name="" /></div>
			</div>
			
			<div class="c_b"></div>
			<div class="h_down lef"></div>
		 </div>
		</div>
	</div>
	
    <div class="center">
			<div>
				<div class="prodlist1 lef">
				<div class="title"><span class="left">按品类查找</span></div>
				<div class="info lef">
				<div class="sdmenu lef" id="my_menu">
						<ul>
							<li id="about" class="a_info_2 lef" onclick="ChangedItime('about')"><a href="#" style="color:#FE9B02;" >关于我们</a></li> 
							<li id="team" class="a_info_1 lef" onclick="ChangedItime('team')"><a href="#" >我们的团队</a></li>
							<li id="job" class="a_info_1 lef" onclick="ChangedItime('job')"><a href="#" >诚招英才</a></li>
							<li id="media" class="a_info_1 lef" onclick="ChangedItime('media')"><a href="#" >媒体报道</a></li>
							<li id="contact" class="a_info_1 lef" onclick="ChangedItime('contact')"><a href="#" >联系我们</a></li>
						</ul>
				</div>
				</div>
				
				
				<div class="info"></div>
				<div class="info"></div>
				<div class="info"></div>
				<div class="info"></div>
				<div class="info"></div>
		</div>
			</div>
			
			<div class="a_info">
				<div class="titlebg3"><a href="" target="_blank">关于我们</a></div>
				<div class="a_info_d">　　上海爱可迅实业有限公司，是一家致力于打造企事业单位日常采购外包服务提供商的同时，逐步将团购模式拓展至终端个人消费市场的专业团购服务平台，企业秉承着"坚守诚信，务实创新"的企业精神，以"倡导先进消费理念、简化购买流程、节约买方成本"为宗旨，掀开了消费者与生产商之间地位平等、商品直流的新格局。<br />　　下属阳光团购中心运作于2009年，是一个以市场调查、推广，采购咨询、服务为主要内容的专业会员制团购平台，中心利用团购平台的优势，为会员在日常采购过程中的员工福利、商务礼品、促销礼品等方面的需求提供更多更全面的选择，更优势的价格，更有保障的服务，更快捷的采购流程；同时阳光团购中心还特别为会员客户提供各类抽奖出游、聚会、咨询、整体解决方案等一系列的增值服务。运作至今，已得到了13000多家会员企业的积极参与，更为包括政府、银行证券、教育事业、医疗卫生以及众多上市公司、世界500强企业在内的近2000多家会员客户提供过专业的团购服务。<br /><span class="yel"><b>&nbsp;&nbsp;&nbsp;&nbsp;企业宗旨</b></span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;阳光团购中心坚持以人为本，以企业为主体，以市场为导向，以服务为生命线，构建一个直销团购交互的开放式平台，整合终端客户（买方）的需求，以终端客户（买方）利益为出发点统一向生产型供应商（卖方）采购的新型模式，以实现公司的快速发展与股东利益的最大化。<br /><span class="yel"><b>&nbsp;&nbsp;&nbsp;&nbsp;服务宣言：您的采购，就是我们的工作</b></span><br />&nbsp;&nbsp;&nbsp;&nbsp;如果您曾经为企业日常采购事务的繁琐和风险而烦恼；如果您曾经货比三家仍无法实现公司预算内采购和您的系统需求；如果您曾经合作的厂家由于质量或各种原因推诿至今仍未得到解决……您应该选择我们！我们会为您提供所有您需要的，免去所有您担心的：一站式采购，更安全、更省心、更优惠；只要您的一个电话，本站专业服务人员为会您提供包括整体采购解决案、送货上门和完善的售后跟踪等服务！<br /><span class="yel"><b>&nbsp;&nbsp;&nbsp;&nbsp;企业文化 （真诚、积极、团结、学习、创新）</b></span><br />    &nbsp;&nbsp;&nbsp;&nbsp;我们的愿景：打造企业日常采购外包服务第一品牌<br />&nbsp;&nbsp;&nbsp;&nbsp;我们的使命：搭建一流团购平台，开创营销新纪元<br />
&nbsp;&nbsp;&nbsp;&nbsp;我们的价值观：真诚胜于智慧，责任胜于能力；团队胜于个人，选择胜于努力<br />
&nbsp;&nbsp;&nbsp;&nbsp;我们的宗旨：积极创造市场，超出客户期望；尊重团队价值，完善发展自我<br />
&nbsp;&nbsp;&nbsp;&nbsp;我们服务观：以客户为中心，以企业发展为根本<br />
&nbsp;&nbsp;&nbsp;&nbsp;我们的作风：保证完成任务，没有任何借口我们的团队：团结、互助、奉献、自豪<br />
&nbsp;&nbsp;&nbsp;&nbsp;我们的宣言: 我们是自己生命的舵手，我们热爱自己的事业；我们要做对社会有贡献的人
 <br />
&nbsp;&nbsp;&nbsp;&nbsp;有一种精神，是我们不断前行的方向<br />
&nbsp;&nbsp;&nbsp;&nbsp;有一种印记，将根植于我们的思想<br />
&nbsp;&nbsp;&nbsp;&nbsp;有一种呼唤，在我们耳边始终回响<br />
&nbsp;&nbsp;&nbsp;&nbsp;有一种信念，将阳光团购中心发扬光大<br />
&nbsp;&nbsp;&nbsp;&nbsp;……<br />
&nbsp;&nbsp;&nbsp;&nbsp;阳光团购中心<br /></div>
			<div><img src="images/main/a_title_2.gif" alt="" /></div>
			</div>
			
		<div id="topadbox">
			<div class="topadbox_1"><b>专业团购服务</b><br />
		  <a class="size19"><b>送样上门</b></a></div>
			<div class="topadbox_2"><b>准时送货保障</b><br />
		  <a class="size19"><b>货到付款</b></a></div>
			<div class="topadbox_3"><b>全面售后跟踪</b><br />
		  <a class="size19"><b>客户至上</b></a></div>
		</div>
	</div>
	
	<div class="foot">
		<p>阳光团购中心联系地址：浦东新区沪南公路1361号4号楼
		<br />投诉邮箱：<a href="mailto:yangguangtuangou@gmail.com">yangguangtuangou@gmail.com</a>&nbsp;&nbsp;&nbsp;&nbsp;联系电话：021-33191309
		<br />Copyright&copy; 2010-2011 上海爱可迅实业有限公司 版权所有　备案号:沪ICP备10034930号</p>
	</div>
	
</div>
</body>
</html>
