/* public Start */
body, td, th                   {font-family:"ו",Arail,verdana;font-size:12px;margin:0px;margin-bottom:5px;color:#666; text-align:center;}
body, div, dl, dt, dd, ul, ol, li, h1, h1 *, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, option, textarea, p, blockquote, th, td {
font:12px/20px arial,verdana,tahoma,simsun,sans-serif;margin:0;padding:0;word-wrap:break-word;}
img                            {border:0;}
.red                           {color:#F00;}
.c_b                           {clear:both;}
a,a:link,a:visited             {text-decoration:none;color:#666;}
a:hover,a:active               {text-decoration:none;color:#999;}
form,p                         {padding:0;margin:0;border:0;}
ul,li                          {padding:0;margin:0;}
.h                             {display:none;}
.lef ,.m                       {float:left;}
.yel                           {color:#FF6600;}
.gray                          {color:#aaa;}
.cancel                        {text-decoration:line-through;}
.red2                          {color:#E72F27; font:Arial, Helvetica, sans-serif;}
.size16                        {font-size:16px;}
.size16a                       {font-size:14px;;color:#FF6600}
.size9                         {font-size:9px;}
.size12                        {font-size:12px;color:#FF6600}
.size14                        {font-size:14px;}
.t_l                           {text-align:left;}
.size19                        {font-size:19px;}
/* public End */

/* Head Start */
.head                          {width:1003px;margin:0 auto;text-align:left;}
.head_top                      {width:1003px; height:100px;background:url(../../images/main/i_h_bgimg_1.gif) no-repeat;}
.logo                          {padding:4px 0px 9px 13px;}                        
.tel                           {margin:42px 0px 0px 68px; width:363px; height:40px;background:url(../../images/main/i_h_bgimg_1.png) top no-repeat;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="../../images/main/i_h_bgimg_1.png");_background:none;} 
.top_menu                      {text-align:left;line-height:1.5em; margin:58px 0px 0px 0px;width:319px;} 
.list1                         {color:#666; padding:0px 13px 0px 16px;background:url(../../images/main/i_h_icon_1.gif) no-repeat; margin:0px 0px 0px 0px;}
.list2                         {color:#666; padding:0px 13px 0px 16px; background:url(../../images/main/i_h_icon_2.gif) no-repeat;}
.list3                         {color:#666; padding:0px 13px 0px 16px; background:url(../../images/main/i_h_icon_3.gif) no-repeat;}
.list4                         {color:#666; padding:0px 13px 0px 16px; background:url(../../images/main/i_h_icon_4.gif) no-repeat;}
.list5                         {width:17px; height:12px; background:url(../../images/main/i_h_icon_5.gif) no-repeat;}
.list6                         {color:#666; padding:0px 13px 0px 16px; background:url(../../images/main/i_h_icon_8.gif) no-repeat;}
.list1 a,.list1 a:link,.list1 a:visited ,.list2 a,.list2 a:link,.list2 a:visited ,.list3 a,.list3 a:link,.list3 a:visited ,.list4 a,.list4 a:link,.list4 a:visited ,.list6 a,.list6 a:link,.list6 a:visited{color:#666;display:block;text-decoration:none;}
.list1 a:hover,.list1 a:active ,.list2 a:hover,.list2 a:active ,.list3 a:hover,.list3 a:active  ,.list4 a:hover,.list4 a:active  ,.list6 a:hover,.list6 a:active{color:#666;display:block;text-decoration:none;}
.h_menu                        {padding:0px 0px 0px 13px;}
#h_menu                        {margin:0;padding:0;width:965px;height:23px;}
#h_menu li                     {list-style:none;float:left;display:block;text-align:center;height:23px;}

.h_menu1_down                  {background:url(../../images/main/i_h_menu_1.gif) no-repeat left bottom;display:block;width:95px; height:23px; text-align:center;}
.h_menu0                       {background:url(../../images/main/i_h_menu_11.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu2                       {background:url(../../images/main/i_h_menu_2.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu3                       {background:url(../../images/main/i_h_menu_3.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu4                       {background:url(../../images/main/i_h_menu_4.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu5                       {background:url(../../images/main/i_h_menu_5.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu6                       {background:url(../../images/main/i_h_menu_6.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu7                       {background:url(../../images/main/i_h_menu_7.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu8                       {background:url(../../images/main/i_h_menu_8.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu9                       {background:url(../../images/main/i_h_menu_9.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu10                      {background:url(../../images/main/i_h_menu_10.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}
.h_menu11                      {background:url(../../images/main/i_h_menu_2.gif) no-repeat left bottom;display:block; width:95px; height:23px; text-align:center;}

.h_menu a                      {text-decoration:none;color:#fff;font-size:14px;text-decoration:none;font-weight:bold; line-height:25px;}
.h_menu A:link                 {color:#fff;font-size:14px;text-decoration:none;font-weight:bold; line-height:25px;}
.h_menu a:visited              {color:#fff;font-size:14px;text-decoration:none;font-weight:bold; line-height:25px;}
.h_menu a:hover                {color:#fff;font-size:14px;text-decoration:none;font-weight:bold; line-height:25px;}
.h_menu a:active               {color:#fff;font-size:14px;text-decoration:none;font-weight:bold; line-height:25px;}

.h_search                      {width:963px; height:69px; background:url(../../images/main/i_h_bgimg_2.gif) repeat-x; overflow:hidden;}
.h_search_all                  {width:621px; height:55px; float:left;}
.h_search_l                    {padding:13px 0px 0px 60px; width:649px; }
.h_search_l_t                  {height:65px;position:absolute;left:215px;top:115px;}
.keywords                      {padding:0px 0px 0px 60px;width:561px;height:16px;font-family:Arial;color:#D96301; float:left;}
.h_search_gao                  {float:left; width:50px;}
.h_search_gao a                {text-decoration:none;color:#fff;font-size:12px;text-decoration:none;font-weight:normal; line-height:25px;}
.h_search_gao A:link           {color:#D96301;font-size:12px;text-decoration:none; font-weight:normal; line-height:25px;}
.h_search_gao a:visited        {color:#D96301;font-size:12px;text-decoration:none;font-weight:normal; line-height:25px;}
.h_search_gao a:hover          {color:#D96301;font-size:12px;text-decoration:none;font-weight:normal; line-height:25px;}
.h_search_gao a:active         {color:#D96301;font-size:12px;text-decoration:none;font-weight:normal; line-height:25px;}
.keywords a                    {text-decoration:none;color:#fff;font-size:12px;text-decoration:none;font-weight:normal; line-height:25px;}
.keywords A:link               {color:#D96301;font-size:12px;text-decoration:none; font-weight:normal; line-height:22px;}
.keywords a:visited            {color:#D96301;font-size:12px;text-decoration:none;font-weight:normal; line-height:22px;}
.keywords a:hover              {color:#D96301;font-size:12px;text-decoration:none;font-weight:normal; line-height:22px;}
.keywords a:active             {color:#D96301;font-size:12px;text-decoration:none;font-weight:normal; line-height:22px;}
form                           {display:inline;} 
.inline_mid                    {vertical-align:middle;  margin:0px; line-height:34px; float:left; margin-left:60px;}   
.inline_midl                   {vertical-align:middle;  margin:0px; line-height:34px; float:left; margin-left:10px;}   
.inline_midl1                  {vertical-align:middle;  margin:0px; line-height:34px; float:left; margin-left:30px;} 

.txt_search                    {background:#fff;border:1px  solid #CFCCC7;padding:5px 5px 5px 5px; width:380px;}
.high_s a                      {color:#CD6601; font-size:12px;}
.high_s a:hover                {text-decoration:underline;color:#CD6601;}
.h_banner                      {width:500px; left:810px; top:0x;height:65px; margin:246px 20px 0x 20px; position:absolute;}
.h_down                        {width:963px; height:6px; background:url(../../images/main/i_h_bgimg_3.gif) no-repeat;}

.h_search_l_t a                {color:#CC6601;text-decoration:none;}
.h_search_l_t a:link           {color:#CC6601;text-decoration:none;}
.h_search_l_t a:visited        {color:#CC6601;text-decoration:none;}
.h_search_l_t a:hover          {color:#CC6601;text-decoration:underline;}
.nsearch                       {margin-left:35px;margin-top:0px;position:relative;width:621px; display:inherit;}
.nsearch_m, .nsearch_h img, .nfdj img {height:30x;vertical-align:middle;}

.nheader_search .nsearch       {margin-left:25px;margin-top:6px;position:relative;width:595px;}
.ninput_search                 {background:url(../../images/main/i_h_bgimg_4.gif) repeat-x;line-height:28px;border:1px solid #CAC8CE;color:#666;height:28px;vertical-align:middle;width:417px;}
/* Head End */
/* Foot Start */
.foot                          {width:928px;height:67px;background:url(../../images/main/i_f_bgimg_1.gif) repeat-x;float:left;padding:20px;line-height:3em;margin-top:8px; text-align:center; margin-left:13px;}
.topadbox_1                   {width:120px;height:45px;float:left;padding-top:10px;position:absolute;left: 448px;} /*margin-left:250px;*/
.topadbox_2                   {width:120px;height:45px;float:left;padding-top:10px;position:absolute;left: 698px;}/*margin-left:125px;*/
#topadbox                      {height:74px;margin:8px 0px 0px 0px;;width:958px; text-align:left; float:left; background:url(../../images/main/l_banner_2.jpg) no-repeat;}
.topadbox_3                   {width:120px;height:45px;float:left;padding-top:10px;position:absolute;left: 989px;} /*margin-left:175px;*/
/* Foot Start */

/*dialog*/
#floatBoxBg{display:none;width:100%;height:100%;background:#E6E6E6;position:absolute;top:0;left:0;}
.floatBox{background:#FFFFCC;border:#666 1px solid;width:300px;position:absolute;top:0px;}
.floatBox .title{background:url(../../images/main/b_c_title_1.jpg) no-repeat;margin:0px 0px 0px 0px;text-align:left; padding:8px 10px 0px 30px;height:23px;color:#FF6600;}
.floatBox .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;}
.floatBox .title span{float:right;cursor:pointer;}
.floatBox .content{padding:0px 15px;background:#fff;}
/*self*/
.login_l                       {padding:0px; width:100%; height:100%; margin:0px;border:0px solid #ccc; overflow:hidden;}
.login                         {margin:0px 0px 0px 0px;text-align:left; float:left;}
#login                         {float:left;height:100%;padding:30px 0px 0px 45px;width:100%; display:inherit;}
#login_1                       {float:left;height:100%;padding:7px 0px 0px 35px;margin-top:16px;width:100%; display:inherit;}
#login ,#loginform ,#login_1   {line-height:24px;text-align:left;}
/*dialog*/
.sdmenu                        {color:#FFFFFF;font-family:Arial,sans-serif;font-size:12px;width:172px;text-align:left;border-left:1px solid #FCD999;border-right:1px solid #FCD999;}
.sdmenu div                    {background:transparent url(../../images/main/list_bottom.gif) repeat-x;overflow:hidden; text-align:left;}
.sdmenu div:first-child        {background:transparent url(../../images/main/list_bottom.gif) repeat-x;width:172px; text-align:left;}
.sdmenu div.collapsed span     {background-image:url(../../images/main/list_close.gif); text-align:left;}
.sdmenu div span               {background:url(../../images/main/i_c_bgimg_1.gif) no-repeat;color:#FE9B02;cursor:default;display:block;font-weight:bold;padding:5px 5px;  text-align:left; height:16px;}
.sdmenu div span a,.sdmenu div span a:link,.sdmenu div span a:visited,.sdmenu div span a:hover,.sdmenu div span a:active{color:#FE9B02;border:0;padding:0;background:none;display: inline;}
.sdmenu div a,.sdmenu div a:link,.sdmenu div a:visited{color:#666666;display:block;padding:5px 10px;text-decoration:none;text-align:left;background:url(../../images/main/i_c_icon_1.gif) no-repeat 3px center;width:64px;}
.sdmenu div a.current          {background:#F7F7F7;text-align:left;}
.sdmenu div a:hover            {color:#006666;text-decoration:none;text-align:left;}
/*top_menu*/
.top_menu_login               {text-align:left;line-height:1.5em; margin:18px 0px 0px 20px; width:349px;} 
.top_menu_login1              {text-align:left;line-height:1.5em; margin:18px 0px 0px 20px; width:335px; text-align:right;}
.top_menu_login2              {width:60px; float:left;}
